<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <form action="answer" class = "text-center">
    <div><label for="question">Speak to your coach</label></div>
    <div><input type="text" id="question" name="query" placeholder="Can i eat ?"></div>
    <div><input type="submit" class = "btn btn-primary" value="Ask a question"></div>
  </form>
</div>
